<ion-view view-title="Dashboard">
  <ion-content class="dash_content" style="background-color: #295283;">
  <h3 class="dash_welcome headerdash">Welcome to DrugCheck App</h3>
  <div>
<canvas id="pie" class="chart chart-pie canvas_padding" 
  chart-data="data" chart-labels="labels" chart-options="options">
</canvas> 
</div>

<!--  <tags-input class="bootstrap"
                ng-model="movies"
                placeholder="Add a movie",
                min-tags="3",
                replace-spaces-with-dashes="false" >
      <auto-complete source="loadMovies($query)"
                     min-length="0"
                     debounce-delay="0"
                     max-results="10"></auto-complete>
    </tags-input> -->

   
   
    
  </ion-content>
</ion-view>
