<ion-view title="Groups" class="group-view sdd">
<search-bar ng-model="search"></search-bar>
      
   
    <ion-content class="group-list">
        <div ng-show="nothingtoshow" style="text-align: center;" >No records found....</div>
        <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
            <ion-item ng-repeat="group in groups" 
                      item="group"
                       class="item-remove-animate list listgrpoption" ng-click="getGroupTestHistory(group)">
             <h3>{{group.group_name}}</h3>
                    <p class="right-icon"><span class="pull-right"><i class="icons ion-chevron-right"></i>
                    <p>{{group.group_des}}</p>
              <ion-delete-button class="ion-minus-circled" 
                                 ng-click="onItemDelete(item)">
              </ion-delete-button>
              <ion-option-button class="button-assertive btn_grplistoption common_option_btn bt_txt_cen"
                                 ng-click="deleteGroup(group._id)" style="height: 100% !important;">
                Del
              </ion-option-button>
              <ion-option-button class="button-calm btn_grplistoption common_option_btn bt_txt_cen"
                                 ng-click="editExistingGroup(group)" style="height: 100% !important;">
                Edit
              </ion-option-button>
             <!--  <ion-option-button class="button-positive btn_grplistoption"
                                 ng-click="showhistory(item)" style="height: 100% !important;">
               History
              </ion-option-button> -->
              <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
            </ion-item>
          </ion-list>
    	<ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="moreDataCanBeLoaded">
                 </ion-infinite-scroll>
     <!-- <ion-infinite-scroll on-infinite="loadMoresearch()" distance="1%" ng-if="moreDataCanBeLoadedsearch">
     </ion-infinite-scroll> -->
    </ion-content>
    
   <div class="float-button">
     <span class="height-fix">
       <button id="fab-profile" ng-click="checkuser()" class="button button-fab button-fab-bottom-right fab-fixed button-assertive pane" nav-view="active" style="opacity: 1; transform: translate3d(0%, 0px, 0px);">
         <i class="icon ion-plus"></i>
       </button>
     </span>
   </div>
    <script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive setcolormodalheader">
          <h1 class="title">New Group</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list">
            <label class="item item-input item-stacked-label">
              <span class="input-label">Group Name</span>
              <input ng-model="group.groupName" type="text" placeholder="Group name" wm-block wm-block-length="30" only-alphabets>
            </label>
           
            <label class="item item-input item-stacked-label">
             <span class="input-label">Group Description</span>
             
              <textarea name="comment" ng-model="group.groupdesc" placeholder="Group discription here" rows="4" cols="50" wm-block wm-block-length="200" only-alphabets></textarea>
                 
            </label>
            
            <button class="button button-full button-positive" style="background-color: #295283;"  ng-click="createGroup1(group)">Create</button>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>
    
</ion-view>


<!-- <ul class="list"  show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe"  >
         
            <li class="item" >
              <h3>{{group.group_name}}</h3>
                <p class="right-icon"><span class="pull-right"><i class="icons ion-chevron-right"></i>
                <p>{{group.group_des}}</p>
            </li>
           
        </ul> -->

