<ion-view view-title="Welcome Tour">
 <ion-header-bar  class="tour-bar cus_tour" id="headwrwelcome">
        <div class="buttons">
        	<button class="button" ui-sref="app.testlist" ui-sref-opts="{reload: 'app.testlist'}"><i class="ion ion-close"></i></button>
        </div>
        <h1 class="title">Welcome Tips</h1>
    </ion-header-bar>
  <ion-content class="top_main_dv">
  <ion-slide-box active-slide="activeSlide" on-slide-changed="slideChanged(index)" show-pager="false">
        <ion-slide style="padding-right: 3px;padding-left: 3px;">
        	<div class="list card" >
			 	<div class="main_list-con">
                	<div class="top_list_con main_first">
                    	<ul>
                        	<li><i><img src="img/check.png" /></i><p>Lorem Ipsum is simply dummy text of the printing.</p></li>
                            <li><i><img src="img/check.png" /></i><p>Lorem Ipsum is simply dummy text of the printing.</p></li>
                            <li><i><img src="img/check.png" /></i><p>Lorem Ipsum is simply dummy text of the printing.</p></li>
                            <li><i><img src="img/check.png" /></i><p>Lorem Ipsum is simply dummy text of the printing.</p></li>
                        </ul>
                    </div>
                    <div class="bottom_list_con">
                        <div class="table-cell">
                    	<p>Quick Features of Features</p>
                        </div>
                    </div>
                </div>
			</div>
        </ion-slide>
        <ion-slide style="padding-right: 3px;padding-left: 3px;">
	        <div class="list card">
			  <div class="main_list-con">
                	<div class="top_list_con">
                    	<ul>
                        	<li><i><img src="img/check.png" /></i><p>Lorem Ipsum is simply dummy text of the printing.</p></li>
                            <li><i><img src="img/check.png" /></i><p>Lorem Ipsum is simply dummy text of the printing.</p></li>
                            <li><i><img src="img/check.png" /></i><p>Lorem Ipsum is simply dummy text of the printing.</p></li>
                            <li><i><img src="img/check.png" /></i><p>Lorem Ipsum is simply dummy text of the printing.</p></li>
                        </ul>
                    </div>
                    <div class="bottom_list_con">
                        <div class="table-cell">
                    	<p>Quick Features of Features</p>
                        </div>
                    </div>
                </div>
			</div>
        </ion-slide>
        <ion-slide style="padding-right: 3px;padding-left: 3px;">
          <div class="list card">
			  <div class="main_list-con ">
                	<div class="top_list_con main_third">
                    	<ul>
                        	<li><i><img src="img/check.png" /></i><p>Lorem Ipsum is simply dummy text of the printing.</p></li>
                            <li><i><img src="img/check.png" /></i><p>Lorem Ipsum is simply dummy text of the printing.</p></li>
                            <li><i><img src="img/check.png" /></i><p>Lorem Ipsum is simply dummy text of the printing.</p></li>
                            <li><i><img src="img/check.png" /></i><p>Lorem Ipsum is simply dummy text of the printing.</p></li>
                        </ul>
                    </div>
                    <div class="bottom_list_con">
                        <div class="table-cell">
                    	<p>Quick Features of Features</p>
                        </div>
                    </div>
                </div>
			</div>
        </ion-slide>
      </ion-slide-box>
  </ion-content>
</ion-view>
